*.iml
.gradle
/local.properties
.idea/caches/
.idea/libraries
.idea/modules.xml
.idea/misc.xml
.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
clarifai-android-sdk/clarifai-android-sdk-v1.0.1.aar
